//----------- background ---------------- //
$pri-bg: #fff;
$sec-bg: #fafafa;

$purple-bg: #A760FF;
$purple-light-bg: #a760ffb1;
$purple-soft-bg: #DBDFFD;

//----------- font-color ---------------- //
$pri-font: #000;
$sec-font: #303030;

//----------- font-size ---------------- //
$fs-header: 2.4em;
$fs-title: 1.8em;
$fs-content: 1em;

//----------- font-size ---------------- //
$fw-header: 600;
$fw-title: 400;
$fw-content: 100;